{% load post_office %}
 

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
  </style>    
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
   <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container" style="background-color: lightblue">
        <tr>
            <td align="right" valign="top">
                <img src="{% inline_image '/home/mykhailo/Desktop/emails/django-post_office/celery_project/templates/images/logo.png' %}" width="100", height="100" />
            </td>
          <td align="center" valign="top">
            <h1>Imaginary File<img src="{% inline_image '/home/mykhailo/Desktop/emails/django-post_office/workdir/media/image_23918efc-efff-4a03-a9a0-97f0db69a5e9.png' %}"></h1>
          </td>
        </tr>
      </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" valign="top">
        <p>Dear 
        
            
                Human
            
        
        <p>Bob Suka</p>
        </p>
      <p>We would like to introduce our discounts:</p>

<table align="center" border="1" cellpadding="1" cellspacing="1" style="height:200px; width:100%">
	<caption>Actions</caption>
	<tbody>
		<tr>
			<td>Shoes</td>
			<td><s>120</s>&nbsp; 75</td>
		</tr>
		<tr>
			<td>T-Shirt</td>
			<td><s>50</s>&nbsp;100</td>
		</tr>
		<tr>
			<td>All products</td>
			<td>-<strong>10%</strong></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
    </td>
  </tr>
</table>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: grey">
  <tr>
    <td align="center" valign="top">
      <p>Created by imaginary company.</p>
    </td>
  </tr>
</table>


    </td>
  </tr>
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
</table> 
  </center>
</body>
</html>
